@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-void text-gray-200 antialiased overflow-x-hidden;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-void;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-glass-border rounded-full hover:bg-gray-500 transition-colors;
  }
}

@layer utilities {
  .bg-glass {
    background: rgba(255, 255, 255, 0.03);
  }
  
  .bg-glass-hover {
    background: rgba(255, 255, 255, 0.05);
  }
}
